<label>ID</label>
<input value="{{post.id}}" readonly/>
<label>Título</label>
<input value="{{post.titulo}}"  readonly/>
<textarea name="texto" id="" cols="30" rows="10" readonly>{{post.texto}}</textarea>
<label>Usuário</label>
<input value="{{post.nome}}"  readonly/>
<label>Id usuário</label>
<input value="{{post.users_id}}"  readonly/>
